@page "/"
@inject Server.Data.ApplicationDbContext DB
@inject DataController DataController
@using Server.Data

<PageTitle>Home</PageTitle>

<h1>Smart Fridge</h1>

<h2>Eat these soon! (expiry in less than 3 days)</h2>
<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Expiry</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in DB.Products.Where(p => p.Expiry < DateTime.Now.AddDays(3)).ToList())
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Count</td>
                    <td>@product.Expiry.Date</td>
                </tr>
            }
        </tbody>
    </table>

<h2>You shouldn't miss</h2>
<table class="table">
    <thead>
        <tr>
            <th>Notification Text</th>
            <th>Date and Time</th>
            <th>Repetition</th>
            <th>Dismiss</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notif in DB.Notifications.Where(n => n.DateTime <= DateTime.Now.AddDays(1)))
        {
            <tr>
                <td>@notif.Text</td>
                <td>@notif.DateTime</td>
                <td>@notif.Repetition</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<h2>Missing products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Minimum amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in DB.Products.Where(p => p.Count < p.MinimumCount))
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Count</td>
                <td>@prod.MinimumCount</td>
            </tr>
        }
    </tbody>
</table>


<h2>You can cook today:</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rec in DataController.GetCookable())
        {
            <tr>
                <td>@rec.Name</td>
                <td>@rec.Duration</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Notification> userNotif = new List<Notification>();
}
