@page "/products"
@inject Server.Data.ApplicationDbContext DB
@using Server.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<table class="table">
        <thead>
            <tr>
                <th>Barcode</th>
                <th>Name</th>
                <th>Count</th>
                <th>Expiry</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in DB.Products)
            {
                <tr>
                    <td>@product.Barcode</td>
                    <td>@product.Name</td>
                    <td>@product.Count</td>
                    <td>@product.Expiry</td>
                </tr>
            }
        </tbody>
    </table>

<!-- <QuickGrid Class="table" Items="DB.Products">
    <PropertyColumn Property="product => product.Barcode" />
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Count" />
    <PropertyColumn Property="product => product.Expiry" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"products/details?id={product.Id}")">Details</a> |
        <a href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
-->